<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="login-page">
  <div class="form">
    <h1>ADMIN LOGIN</h1>
    <!-- <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form> -->
    <form class="login-form" action="/admin/login" method="post">
      <input type="email" placeholder="Email" name="email" value="ajas@gmail.com" required/>
      <input type="password" placeholder="Password" name="password"value='1234' required/>
      <% if(err){%> 
        <p class="" style="color:red ;">Invalid password or email</p>
        <%} %>
      <button type="submit">login</button>
      <!-- <p class="message">Not registered? <a href="/signup">Create an account</a></p> -->
    </form>
  </div>
</div>
</body>
</html>